/* @media (min-width: 350px) and (max-width: 375px) {
    .header-content {
        gap:80px
    }
} */

/* @media (min-width: 414px) and (max-width: 425px) {
    .header-content {
        gap:7rem;
    }
} */

/* @media (min-width: 420px) and (max-width: 425px) {
    .header-content {
        gap:115px
    }
} */

@media (min-width: 850px) {

    /* HEADER */

    .header-container {
        background-color: rgba(0, 0, 0, 0);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .hidden {
        opacity: 0;
        transform: translateY(-100%);
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        padding: 1% 5% 1% 5%;
    }

    .header-logo {
        gap: 1.5rem;
    }

    .header-logo-image {
        width: 3.6vw;
    }

    .header-logo-text {
        font-size: 2rem;
    }

    .header-icons-container {
        display: block;
    }

    .header-icons-content {
        display: flex;
        flex-direction: row;
        gap: 1.3rem;
    }

    .icons-list {
        transition: .4s;
    }
    
    .icons-list:hover {
        transform: scale(1.2);
    }    

    .icons-image {
        width: 1.7vw;
    }

    .header-menu {
        display: none;
    }

    /* SECTION 1 */

    .section1-container {
        background-image: linear-gradient(rgba(0, 0, 0, 0.900), rgba(0, 0, 0, 0.900)), url(../images/science1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        mask-image: linear-gradient(to bottom, #000 60%, rgba(0,0,0, 0.01) 90%);
    }
    
    .section1-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0% 5% 0% 5%;
    }
    
    .section1-main-image {
        width: 8vw;
        margin: 8% 0% 5% 0%;
        align-items: center;
        justify-content: center;
    }
    
    .section1-main-title {
        font-weight: normal;
        font-size: 3.5rem;
        color: var(--text-color);
        text-transform: uppercase;
        margin: 0% 0% 5% 0%;
        text-align: center;
    }
    
    .section1-main-desc {
        font-family: var(--second-font);
        font-weight: 200;
        font-size: 2.5rem;
        color: var(--text-color);
        padding: 0% 10% 0% 10%;
        margin: 0% 0% 18% 0%;
        text-align: center;
    
    }

    /* SECTION 2 */

    .section2-container {
        background-color: black;
    }
    
    .section2-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0% 10% 0% 10%;
        gap: 4rem;
    }

    .section2-image {
        padding: 0% 0% 20% 0%;
        width: 25vw;
    }
    
    .section2-text {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: left;
        margin: 20% 0% 10% 0%;
    }
    
    .section2-text-title {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0% 7% 8% 0%;
    }
    
    .section2-text-desc {
        font-size: 2rem;
        font-family: var(--second-font);
        font-weight: 200;
        padding: 0% 10% 0% 10%;
        margin: 0% 0% 50% 0%;
    }

    /* SECTION 3 */

    .section3-content {
        display: flex;
        flex-direction: column;
        margin: 0% 5% 0% 5%;
    }

    .section3-content-text {
        align-items: center;
        text-align: center;
    }

    .section3-text-title {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: normal;
        margin: 10% 0% 12% 0%;
    }

    .section3-content-list {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: 0% 0% 12% 0%;
    }

    .section3-list-number {
        display: flex;
        justify-content: center;
        font-size: 8rem;
        font-family: var(--number-font);
        margin: 0% 0% 5% 0%;
    }

    .section3-list-desc {
        display: flex;
        text-align: center;
        font-size: 1.3rem;
        font-family: var(--second-font);
        padding: 0% 10% 0% 10%;
        margin: 0% 0% 15% 0%;
    }

    .list-space {
        margin: 0% 0% 20% 0%;
    }

    /* SECTION 4 */

    .section4-container {
        color: white;
    }
    
    .section4-content {
        background-repeat: no-repeat;
        background-size: 180%;
        background-position: center;
        padding: 0% 30% 10% 30%;
    }
    
    .section4-content-text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .section4-text-title {
        font-size: 3.5rem;
        font-weight: normal;
        text-transform: uppercase;
        margin: 20% 0% 5% 0%;
    }
    
    .section4-text-desc {
        font-size: 2.5rem;
        font-weight: 200;
        font-family: var(--second-font);
        margin: 0% 0% 20% 0%;
    }
    
    .section4-form {
        border-radius: 30px;
        padding: 8% 0% 8% 0%;
    }

    .form-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: lighter;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin: 0% 0% 8% 0%;
        text-align: center;
    }
    
    .formulario-campo {
        display: flex;
        flex-direction: column;
        border: none;
        font-family: var(--second-font);
        padding: 0% 7% 0% 7%;
        margin: 0% 0% 6% 0%;
    }
    
    .campo-etiquieta {
        font-size: 1.2rem;
        margin: 0% 0% 3% 0%;
    }

    
    .campo-escrita {
        padding: 0% 0% 0% 1.5%;
        height: 50px;
        outline: none;
    }
    
    .form-button-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .form-button {
        font-size: 1.3rem;
        font-family: var(--second-font);
        border: 2px solid transparent;
        border-radius: 10px;
        padding: 2.5% 8% 2.5% 8%;
        margin: 2% 0% 0% 0%;
    }
    
    .form-button:hover {
        background-color: rgb(199, 199, 199);
    }
    
    .form-desc-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        font-size: 1.2rem;
        font-family: var(--second-font);
        margin: 8% 0% 0% 0%;
    }
    
    .contact-list-info {
        display: none;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin: 5% 0% 0% 0%;
    }
    
    .link-image {
        width: 8vw;
    }

    /* FOOTER */
    
    .footer-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--second-font);
        padding: 2% 0% 2% 0%;
        margin: 0% 0% 0% 0%;
    }
}