
/* SECTION 1 */

.section1-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.900), rgba(0, 0, 0, 0.900)), url(../images/science1.png);
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: center;
    mask-image: linear-gradient(to bottom, #000 60%, rgba(0,0,0, 0.01) 90%);
}

.section1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0% 5% 0% 5%;
}

.section1-main-image {
    width: 22vw;
    margin: 15% 0% 15% 0%;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.section1-main-image:hover {
    transform: scale(1.05);
    transform: rotate(90deg);
}

.section1-main-title {
    font-weight: normal;
    font-size: 1.3rem;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0% 0% 8% 0%;
    text-align: center;
}

.section1-main-desc {
    font-family: var(--second-font);
    font-weight: 200;
    font-size: 1.3rem;
    color: var(--text-color);
    margin: 0% 0% 60% 0%;
    text-align: center;

}

/* SECTION 2 */

.section2-container {
    background-color: black;
}

.section2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0% 5% 0% 5%;
}

.section2-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.section2-text-title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: normal;
    margin: 30% 0% 8% 0%;
}

.section2-text-desc {
    font-size: 1.2rem;
    font-family: var(--second-font);
    font-weight: 200;
    padding: 0% 4% 0% 4%;
    margin: 0% 0% 55% 0%;
}

/* SECTION 3 */

.section3-container {
    background-color: rgb(255, 255, 255);
}

.section3-content {
    display: flex;
    flex-direction: column;
    margin: 0% 5% 0% 5%;
}

.section3-content-text {
    align-items: center;
    text-align: center;
}

.section3-text-title {
    text-transform: uppercase;
    font-weight: normal;
    margin: 20% 0% 22% 0%;
}

.section3-list-number {
    font-size: 5rem;
    font-family: var(--number-font);
}

.section3-list-desc {
    font-size: 1.3rem;
    font-family: var(--second-font);
    padding: 0% 2% 0% 8%;
    margin: 0% 0% 20% 0%;
}

.list-space {
    margin: 0% 0% 35% 0%;
}

/* SECTION 4 */

.section4-container {
    color: white;
}

.section4-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.900), rgba(0, 0, 0, 0.900)), url(../images/science3.png);
    background-repeat: no-repeat;
    background-size: 500%;
    background-position: center;
    padding: 0% 5% 35% 5%;
}

.section4-content-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section4-text-title {
    font-size: 1.8rem;
    font-weight: normal;
    text-transform: uppercase;
    margin: 20% 0% 10% 0%;
}

.section4-text-desc {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: var(--second-font);
    margin: 0% 0% 15% 0%;
}

.section4-form {
    border: 1.5px solid white;
    border-radius: 30px;
    background-color: rgb(15, 15, 15);
    padding: 10% 0% 20% 0%;
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0% 0% 10% 0%;
    text-align: center;
}

.formulario-campo {
    display: flex;
    flex-direction: column;
    border: none;
    font-family: var(--second-font);
    padding: 0% 7% 0% 7%;
    margin: 0% 0% 6% 0%;
}

.campo-etiquieta {
    margin: 0% 0% 3% 0%;
}

.campo-escrita {
    border: transparent;
    border-radius: 0.8rem;
    padding: 0% 0% 0% 2%;
    height: 40px;
}

.campo-escrita:hover {
    outline: none;
}

.form-button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-button {
    font-size: 1.3rem;
    font-family: var(--second-font);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2.5% 8% 2.5% 8%;
    margin: 3% 0% 0% 0%;
}

.form-button:hover {
    background-color: rgb(199, 199, 199);
}

.form-desc-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    font-size: 0.9rem;
    font-family: var(--second-font);
    margin: 15% 0% 0% 0%;
}

.contact-list-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 5% 0% 0% 0%;
}

.link-image {
    width: 6.6vw;
}